---
language: python
python: "2.7"
sudo: required
dist: trusty
before_install:
 - sudo apt-get update -qq
install:
  - pip install ansible
script:
  - ansible --version
  - ansible-playbook -i tests/inventory tests/test.yml --syntax-check --list-tasks -vvvv
  - ansible-playbook -i tests/inventory tests/test.yml --connection=local --become -vvvv
...
